@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --primary-color: #2C5C91;
    --secondary-color: #C5E2FD;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: white;
}

*{
    padding: 0;
    margin: 0;
}

/* Header */
header{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    border: solid black 0.3em;
}

.logo-u{
    width: 17em;
    height: 5em;
    margin: 0.7em;
}

body {
    background-color: var(--secondary-color);
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 84.3vw;
    font-size: 2.5em;
}

nav ul li{
    margin: 0em 5em 0em 0em;
}

/*Principal*/
.contenedor {
    display: flex;
    flex-direction: row;
}

.informacion{
    display: flex;
    flex-direction: column;
    height: 82vh;
    justify-content: center;
}

.desafio, .descripcion{
    background-color: var(--primary-color);
    height: 15vh;
    width: 35vw;
    margin: 2em 0em 2em 5em;
    padding: 2em 1em 2em;
    border-radius: 3em;
}

.desafio p {
    font-size: 18px;
}

.descripcion p {
    font-size: 18px;
}


/* Integrantes*/
.integrantes{
    height: 82vh;
    display: flex;
    align-items: center;
    margin-left: 18em;
}

aside {
    background-color: var(--primary-color);
    height: 50vh;
    width: 35vw;
    padding: 1.5em 0em 0em 1.5em;
    border-radius: 3em;
    padding-left: 4em;
    padding-top: 2em;
}

.lista-integrantes{
    display: flex;
    flex-direction: row;
    margin-top: 0.7em;
}

.integrante img {
    height: 10em;
    width: 11.5em;
}

.columna2 {
    margin-left: 8em;
}

.felipe, .miguel {
    margin-top: 1em;
}



/*Footer*/
footer {
    text-align: center;
    background-color: var(--primary-color);
    height: 5em;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

